@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #1d1d2e;
}

.container{
    display: flex;
    
    
}
.info{
    
    color: #FFF;
    width: 60%;
    font-family: 'Roboto';
}
.info article{
    font-size: 20px;

}
.info h1{
    text-align: center;
}
.info a{
    color: #3fffa3;
    text-decoration: none;
}

@media (width<700px){
    .container{
        flex-direction: column;
    }
}
